body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

.left {
    font-size: 1.8rem;
    font-weight: bold;
}

.right {
    font-size: 1.4rem;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

.contact {
    margin-top: 20px;
}

.contact p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.contact a {
    color: #4CAF50;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(18, 18, 62);
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: rgb(153, 153, 226);
}
strong{
    color:aquamarine
}
